@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

h1, h2{
    text-align: center;
    color: white;
}

h2{
    margin: 0;
    font-family: 'Great Vibes', cursive;    
    font-size: 70px;
    
    /* this code from https://stackoverflow.com/questions/7948333/css-position-text-in-the-middle-of-the-page */
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

body {
    background-image: url("../images/foggy-1149180_1920.jpg");
    /*https: //pixabay.com/photos/foggy-forest-mystery-fog-landscape-1149180/*/

    /*Images are all free for commercial use and do not require attribution*/
    /*https: //pixabay.com/photos/ocean-sea-water-surf-coastline-3992688/*/
    /*https: //pixabay.com/photos/sea-black-and-white-nature-1031262/*/
    /*https: //pixabay.com/photos/nature-landscape-travel-snow-3048072/*/
    /*https: //pixabay.com/photos/tree-trunk-branch-row-row-of-trees-3207716/*/
}