@import url('https://fonts.googleapis.com/css?family=Great+Vibes');


html, body {
    min-height: 100%;
    margin: 0;
}

h1, h2{
    text-align: center;
    color: white;
}

h2{
    margin: 0;
    font-family: 'Great Vibes', cursive;    
    font-size: 70px;
    
    /* this code from https://stackoverflow.com/questions/7948333/css-position-text-in-the-middle-of-the-page */
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

body {
    background-image: url("../images/foggy-1149180_1920.jpg");
    /*https: //pixabay.com/photos/foggy-forest-mystery-fog-landscape-1149180/*/
}